/* подключение локальный шрифтов на страницу */
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  display: swap;
}

* {
  box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}

/* задание шрифта всей странице */
body {
  font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f1f1;
}

/* стили для хедера(шапки) сайта */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #a1a6b4;
  background: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 24px 0 24px;
}

.logo-link {
  max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.nav-item {
  display: inline;
}

.nav-link {
  color: #121723;
  font-size: 20px;
  font-weight: 700;
}

/* стили для  */
.content {
  margin: 32px 0;
  max-width: 1140px;
}

h1 {
  font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0 0;
}

/* стили для карточки кроссовок */

.sneaker-animation {
  height: max-content;
  transition: 200ms linear;
}

.sneaker-animation:hover {
  transform: translateY(-10px);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sneaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 364px;
  height: 100%;
  border-radius: 12px;
  background: white;
}

.sneaker-image {
  width: 100%;
  border-radius: 12px;
}

.sneaker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 32px 24px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121723;
}

/* стили для футера */
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 32px 0;
}

.footer__logo-link {
  max-width: 300px;
  width: 100%;
}

footer .nav-link {
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  border-top: 1px solid #a1a6b4;
}

.copyright-text {
  color: #a1a6b4;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0;
}

.sneaker-animation {
  animation-name: go;
  animation-duration: 2s;
}

@media screen and (max-width: 425px) {
  .header-container {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .content {
    margin: 0 auto;
    margin-top: 32px;
    max-width: 343px;
  }

  .sneakers:last-child {
    margin-bottom: 32px;
  }

  h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .footer-content {
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .copyright {
    margin: 0 auto;
    max-width: 343px;
  }
}

/* Стили для второй страници */
.layout__sneaker-card-wrapper {
  padding: 32px;
  background: #f1f1f1;
}

.sneaker-card {
  margin: 0 auto;
  padding: 48px;
  max-width: 1140px;
  border-radius: 50px;
  background-color: #fff;
}

.sneaker-card__text-wrapper {
  padding-top: 32px;
}

.sneaker-card__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.sneaker-card__text {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.sneaker-card__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.sneaker-card__description {
  max-width: 506px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.about-list {
  max-width: 506px;
  width: 100%;
}

.about-list__item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px #121723 solid;
}

.about-list__item:not(:first-child) {
  margin-top: 24px;
  padding-bottom: 24px;
}

.about-list__title {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .layout__sneaker-card-wrapper {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .sneaker-card {
    width: 343px;
    padding: 24px;
    border-radius: 12px;
  }

  .sneaker-card__img {
    width: 295px;
    height: 172px;
  }

  .sneaker-card__title {
    font-size: 32px;
  }

  .sneaker-card__text {
    font-size: 20px;
    font-weight: 400;
  }

  .sneaker-card__description-wrapper {
    flex-direction: column;
  }

  .sneaker-card__description {
    font-size: 16px;
  }

  .about-list__title {
    padding-top: 32px;
    font-size: 24px;
  }

  .about-list__date {
    font-size: 16px;
  }

  .about-list__price {
    font-size: 16px;
  }

  .about-list__materials {
    font-size: 16px;
  }
}
